In [1]:
import pandas as pd

# Example: Create a DataFrame
data = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
})

# Example DataFrame
#     A   B    C
# 0  10  50   90
# 1  20  60  100
# 2  30  70  110
# 3  40  80  120

# Select the element in the first row and second column (row 0, column 1)
print(data.iloc[0, 1])  # Output: 50

50

In [2]:
data

    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

In [3]:
# Select the entire second row (index position 1)
print(data.iloc[1])  # Output: A = 20, B = 60, C = 100

A     20
B     60
C    100
Name: 1, dtype: int64

In [4]:
# Select the first two rows and first two columns
print(data.iloc[0:2, 0:2])

# Output:
#     A   B
# 0  10  50
# 1  20  60

    A   B
0  10  50
1  20  60

In [5]:
# Select specific rows and columns (1st and 3rd rows, 2nd and 3rd columns)
print(data.iloc[[0, 2], [1, 2]])

# Output:
#     B    C
# 0  50   90
# 2  70  110

    B    C
0  50   90
2  70  110

In [6]:
# Select the second column (index position 1)
print(data.iloc[:, 1])  # Output: 50, 60, 70, 80 (Column 'B')

0    50
1    60
2    70
3    80
Name: B, dtype: int64

In [7]:
# Select the last row
print(data.iloc[-1])  # Output: A = 40, B = 80, C = 120

A     40
B     80
C    120
Name: 3, dtype: int64