In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
df = pd.read_csv('online.csv')

In [31]:
df.head(10)

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94
5        131876.90        99814.71  362861.36    Dhaka  156991.12
6        134615.46       147198.87  127716.82      Ctg  156122.51
7        130298.13       145530.06  323876.68  Rangpur  155752.60
8        120542.52       148718.95  311613.29    Dhaka  152211.77
9        123334.88       108679.17  304981.62      Ctg  149759.96

In [32]:
df.shape

(50, 5)

In [33]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

In [34]:
x = df.drop(['Profit'], axis=1)
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [35]:
y = df['Profit']
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [36]:
city = pd.get_dummies(x['Area']).astype(int)
city.head()

   Ctg  Dhaka  Rangpur
0    0      1        0
1    1      0        0
2    0      0        1
3    0      1        0
4    0      0        1

In [37]:
city = pd.get_dummies(x['Area'], drop_first=True).astype(int)
city.head()

   Dhaka  Rangpur
0      1        0
1      0        0
2      0        1
3      1        0
4      0        1

In [38]:
x = x.drop('Area', axis=1)
x.head()

   Marketing Spend  Administration  Transport
0        114523.61       136897.80  471784.10
1        162597.70       151377.59  443898.53
2        153441.51       101145.55  407934.54
3        144372.41       118671.85  383199.62
4        142107.34        91391.77  366168.42

In [39]:
x = pd.concat([x, city], axis=1)
x.head()

   Marketing Spend  Administration  Transport  Dhaka  Rangpur
0        114523.61       136897.80  471784.10      1        0
1        162597.70       151377.59  443898.53      0        0
2        153441.51       101145.55  407934.54      0        1
3        144372.41       118671.85  383199.62      1        0
4        142107.34        91391.77  366168.42      0        1

In [40]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.25, random_state=42)

In [41]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [42]:
regressor.fit(xtrain, ytrain)

LinearRegression()

In [44]:
xtest

    Marketing Spend  Administration  Transport  Dhaka  Rangpur
13         91992.39       135495.07  252664.93      0        0
39         38558.51        82982.09  174999.30      0        0
30         61994.48       115641.28   91131.24      0        1
45          1000.23       124153.04    1903.93      1        0
17         94657.16       145077.58  282574.31      1        0
48           542.05        51743.15       0.00      1        0
26         75328.87       144135.98  134050.07      0        1
25         64664.71       139553.16  137962.62      0        0
32         63408.86       129219.61   46085.25      0        0
19         86419.70       153514.11       0.00      1        0
12         93863.75       127320.38  249839.44      0        1
4         142107.34        91391.77  366168.42      0        1
37         44069.95        51283.14  197029.42      0        0

In [43]:
ytest

13    134307.35
39     81005.76
30     99937.59
45     64926.08
17    125370.37
48     35673.41
26    105733.54
25    107404.34
32     97427.84
19    122776.86
12    141585.52
4     166187.94
37     89949.14
Name: Profit, dtype: float64

In [45]:
pred = regressor.predict(xtest)

pred

array([127455.83761591,  84429.71373072,  90326.58109175,  43108.78632384,
       131415.08987379,  42179.03330105, 103330.43901221,  98726.21271646,
        89351.69956496,  99923.24489889, 126233.54491857, 168825.45215129,
        89930.48929136])

In [47]:
regressor.score(xtest, ytest)

0.8842583676807757

In [46]:
from sklearn.metrics import r2_score

score = r2_score(ytest, pred)

score

0.8842583676807757